#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes shimmer {
  100% {
    background-position: -200% 0;
  }
}

[data-radix-scroll-area-viewport] {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

[data-radix-scroll-area-viewport]::-webkit-scrollbar {
  display: none;
}

.rt-AccordionContent {
  overflow: hidden;
}
.rt-AccordionContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.rt-AccordionContent[data-state='closed'] {
  animation: slideUp 300ms ease-in;
}

@keyframes slideDown {
  from { height: 0 }
  to { height: var(--radix-accordion-content-height) }
}

@keyframes slideUp {
  from { height: var(--radix-accordion-content-height) }
  to { height: 0 }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
  background-image: linear-gradient(
    90deg,
    rgba(243, 244, 246, 1) 0%,
    rgba(229, 231, 235, 1) 50%,
    rgba(243, 244, 246, 1) 100%
  );
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
